.scaleConfig {
  max-width: 385px;
  max-height: 400px;
  padding: 0.25rem;
  box-shadow: 0 2px 2px #ccc;
  border: 1px solid #ccc;
  background: #fff;
}
.scaleConfig.hidden {
  display: none;
}
.scaleConfig * {
  font-size: 12px;
}
.scaleConfig h3 {
  font-size: 14px;
}
.scaleConfig .patternSidebarBody .scaleConfig h3 {
  font-size: 14px;
}
.scaleConfig .scaleConfigTooltipBody {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.scaleConfig .scaleConfigTooltipBody .configurationGroup {
  margin: 1rem 0;
}
.scaleConfig .scaleConfigTooltipBody ul {
  margin: 0;
  padding: 0;
}
.scaleConfig .typeGroupSelection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.scaleConfig .scaleConfigCheckboxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.scaleConfig .scaleConfigCheckboxes .scaleConfigCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.scaleConfig .scaleConfigCheckboxes .scaleConfigCheckbox label {
  margin-left: 0.5rem;
}
#patternSidebar .patternSidebarGroup .scaleConfig .typeGroupSelection button {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  padding: 0.25rem 0;
}
#patternSidebar .patternSidebarGroup .scaleConfig .typeGroupSelection button.active {
  border-color: teal;
  color: #333;
}
.scaleConfig .scaleConfigType h2 {
  margin-bottom: 0.25rem;
}
.scaleConfig .scaleTooltipRangeOptions {
  display: flex;
  flex-direction: row;
}
button.scaleTooltipCustomRangeToggle {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 6px;
}