.layeredDiagramContainer {
  overflow: hidden;
  background: #fafafa;
  width: 100%;
  flex-grow: 1;
}
.layeredDiagramEditor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0.5rem;
  height: 100%;
}
.layeredDiagramEditor .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.layeredDiagramEditor .placeholder {
  margin: 0 1rem;
  width: 5rem;
  height: 92vh;
}
.layeredDiagramEditor .widgets {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.layeredDiagramEditor .layers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.layeredDiagramEditor .layer {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 2px #ccc;
  margin: 0;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}
.layeredDiagramEditor .column.placeholder .layer {
  min-width: 0;
  padding: 1rem 0;
}
.layeredDiagramEditor .layer.collapsed {
  width: 5rem;
}
.layeredDiagramEditor .layer.first {
  width: 10%;
}
.layeredDiagramContainer .layer .templates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  min-width: 100px;
  min-height: 100px;
  overflow: auto;
}
.layeredDiagramEditor .column.placeholder .layer .templates {
  padding: 0;
}
.layeredDiagramEditor .layer.collapsed .templates {
  visibility: hidden;
}
.layeredDiagramContainer .layer .templates .templatePlaceholder {
  border: 1px dashed #333;
  background: #eee;
  background: #fff;
  height: 200px;
  width: 100%;
}
.layeredDiagramContainer .layer .templates .template {
  margin: 0.5rem;
}
.layeredDiagramContainer .layer .templates .template .vega-actions-wrapper {
  display: none;
}
.layeredDiagramEditor .layer .layerWidgets {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.layeredDiagramEditor .layer:hover .layerWidgets {
  visibility: visible;
  opacity: 1;
}
.layeredDiagramEditor .layerWidgets.bottom button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  color: teal;
  background: #fff;
  cursor: pointer;
}
.layeredDiagramEditor .layer.first .layerWidgets.bottom button {
  color: #ccc;
}
.layeredDiagramEditor .layerWidgets.bottom:hover span {
  text-decoration: underline;
}
.layeredDiagramEditor .layerWidgets.bottom i.icon {
  transform: rotate(90deg);
}