#noPatternsNotice {
  position: absolute;
  display: flex;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#noPatternsNotice span {
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
  padding: 2rem 3rem;
  border: 2px dashed #ddd;
  border-radius: 10px;
}
#noPatternsNotice span .material-icons {
  transform: rotate(-90deg)translateX(-0.75rem);
  margin-left: 0.25rem;
}