#templateConfigurationSidebar {
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  top: 40px;
  padding: 1rem 0.75rem;
}
#templateConfigurationSidebar .toggleButtonWrapper {
  top: 50%;
  background: teal;
  opacity: 1;
}
#templateConfigurationSidebar .encodings {
  overflow-y: auto;
  max-height: 90vh;
  max-width: 100%;
}