#reusableBlocks {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0;
}

#reusableBlocks #reusableNodes,
#reusableBlocks #reusableScales,
#reusableBlocks #reusableSignals {
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
#reusableBlocks .focus {
  color: steelblue;
}

#reusableBlocks h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  padding: 0.5rem 1rem;
}
#reusableBlocks .buildingBlockList {
  margin: 0 1rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 4rem;
  display: flex;
  opacity: 1;
  /* overflow: hidden; */
  max-width: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#reusableBlocks .buildingBlockList:first-of-type {
  margin-left: 0;
}
#reusableBlocks .buildingBlockList.hidden {
  opacity: 0;
}
#reusableBlocks .buildingBlockList .buildingBlock {
  flex-grow: 0;
  box-sizing: border-box;
}