.buildingBlock.dynamicValue {
  padding: 0.25rem 0.5rem;
  border: 1px solid orangered;
  border-radius: 3px;
  color: orangered;
}
.buildingBlock.dynamicValue .delete {
  margin-left: 0.15rem;
  color: orangered;
}