.scaleBuildingBlockContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buildingBlock.scale {
  background: #fff;
  color: #555;
  padding: 0 0.5rem;
  margin: 0.25rem 0.25rem;
  box-shadow: 0 2px 4px #ddd;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.buildingBlock.scale .icon {
  margin-right: 0.25rem;
  cursor: pointer;
}
.buildingBlock.scale .scaleName {
  margin-right: 0.25rem;
}
.buildingBlock.scale .noScaledDomainNotice {
  border: 1px dashed #ccc;
  color: #888;
}
.buildingBlock.scale .scaledDomain {
  border: 1px solid #ccc;
}
.buildingBlock.scale .buildingBlock.field {
  height: 0.85rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
}
.buildingBlock.scale .dropArea {
  width: 60px;
  background: #fff;
}
.buildingBlock.scale .dropArea.jtk-drag-hover {
  background: #efefefef;
}
.buildingBlock.scale .dropArea.jtk-drag-active + .noScaledDomainNotice {
  display: none;
}