.visualVariableMappingBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.15rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.visualVariableMappingBlock .visualVariableName {
  margin-right: 0.25rem;
}
.visualVariableMappingBlock input {
  border: #ccc;
  color: #888;
}
.visualVariableMappingBlock .notBoundNotice {
  color: #888;
  padding: 0.15rem 0.5rem;
  margin-right: 0.15rem;
  border: 1px dashed #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.visualVariableMappingBlock .notBoundNotice.blocked {
  border: 1px solid steelblue;
  color: steelblue;
}

.visualVariableMappingBlock .dropArea {
  width: 5.1rem;
}
.visualVariableMappingBlock .dropArea.jtk-drag-active ~ .notBoundNotice {
  display: none;
}