#patternSidebarAllBindingsList {
  position: absolute;
  margin: 0;
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  z-index: 10;
}
#patternSidebarAllBindingsList .hiddenVisualVariable {
  list-style: none;
  padding: 0.15rem 1rem;
  margin: 0;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#patternSidebarAllBindingsList .hiddenVisualVariable:hover {
  background: #eee;
}