.component.transform.focus {
  border-color: steelblue;
}
.component.transform .indicators .marker.label {
  background: steelblue;
}
.component.transform .indicators {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.component.transform .indicators .marker {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.1rem;
  background: steelblue;
}
.component.transform .body {
  padding: 0.25rem;
  transition: background 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.component.transform:hover .body {
  background: steelblue;
}
.component.transform code {
  color: #333;
}
.component.transform h2 .labels .label {
  padding: 0 0.5rem 0.1rem;
  border: 1px solid steelblue;
  background: steelblue;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 1rem;
  vertical-align: middle;
}
