div.layout {
  padding: 0.25rem 0.5rem;
  max-width: 50px;
  border: 1px solid steelblue;
  color: steelblue;
  border-radius: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.layout.null {
  background: #eee;
  border: 1px solid #ccc;
}