div.template {
  /* position: absolute; */
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0px 4px #ccc;
  transition:
    box-shadow 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
div.template.focus {
  box-shadow: 0 4px 4px #ccc;
}
div.template.focus .templateHeader {
  background: #fff;
}

div.template .templateHeader {
  padding: 0.25rem 1rem;
  margin: 0;
  border: 1px solid #ccc;
  background: teal;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}
div.template .templateHeader .delete {
  margin-left: 0.5rem;
}
div.template .templateHeader .delete:hover {
  color: #fff;
}
div.template .templateHeader h2 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed';
  font-size: 1.15rem;
}
div.template .templateHeader .dataSource {
  margin: 0 0.25rem;
}
div.template .templateHeader .dataSource .buildingBlock.dataset {
  color: #fff;
  font-size: 12px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0;
  background: transparent;
  border-color: #fff;
  border-radius: 3px;
}

div.template .body {
  padding: 0.25rem;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.mark.template .body {
  justify-content: center;
}
div.template .body .configuration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
div.template .body .configuration.minimized {
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
div.template .body .configuration .visualElementsContainer,
div.template .body .configuration .layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}
div.template .body .configuration .visualElementsContainer:empty {
  background: #eee;
  border: 1px solid #ccc;
  width: 50px;
  height: 25px;
}

div.template .footer {
  padding: 0.25rem 0.25rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: height 0.15s ease-in-out;
}
div.template .footer * {
  visibility: hidden;
}
div.template:hover .footer {
  height: 2rem;
}
div.template:hover .footer * {
  visibility: visible;
}
div.template .footer button {
  padding: 0.15rem 0.5rem 0.2rem;
  border: none;
  background: #fff;
  color: teal;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
div.template .footer button:hover span {
  text-decoration: underline;
}
div.template .footer button i.icon {
  font-size: 14px;
  margin-right: 0.25rem;
}