#interactionConfigurationComponent {
  display: flex;
  flex-direction: column;
}
#interactionConfigurationComponent h2 {
  font-family: 'Roboto Condensed';
}
#interactionComponentBody {
  padding: 1rem;
  box-sizing: border-box;
}
#interactionProviders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#interactionProviders .interactionBlock {
  margin: 0.5rem;
}
button#addNewInteractionProvider {
  background: orangered;
  margin: 0.5rem;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}