#templateToolbar {
  margin: 0;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  background: #fff;
}

#templateToolbar .column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
}

#templateToolbar .column h2 {
  margin: 0 1rem;
  font-family: 'Roboto Condensed';
  font-size: 15px;
}
#templateToolbar .column.logo h2 {
  font-size: 20px;
}