div.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

div.inputWrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: 50vw;
  padding: 1.5rem 2rem 1rem;
  border-radius: 4px;
  visibility: visible;
  opacity: 1;
  font-size: 12px;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}
div.overlayWrapper.hidden div.inputWrapper {
  visibility: hidden;
  opacity: 0;
}
div.inputWrapper a {
  width: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: teal;
}
div.inputWrapper a:hover {
  text-decoration: underline;
}
div.inputWrapper a i.icon {
  padding-right: 0.25rem;
  font-size: 14px;
}

div.inputWrapper .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.inputWrapper .delete {
  background: transparent;
  border: none;
  font-size: 20px;
}

#templateToolbar div.inputWrapper h2 {
  font-size: 20px;
  /* font-weight: bold; */
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}
div.inputWrapper span {
  font-size: 14px;
}
div.inputWrapper span.notice {
  padding-bottom: 1rem;
}
div.inputWrapper textarea {
  border: 1px solid #ccc;
  font-family: monospace;
  height: 45vh;
  width: 90%;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  resize: none;
}
div.inputWrapper .loadingWidgets {
  margin: 1rem 0;
}
div.inputWrapper .loadingWidgets button {
  border: none;
  background: teal;
  color: #fff;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.75rem 0.6rem;
  font-size: 14px;
}