.compositionTemplateProperties .properties.repeat h3 {
  font-size: 12px;
}

.compositionTemplateProperties .properties.repeat .column,
.compositionTemplateProperties .properties.repeat .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.repeatedFields {
  margin-bottom: 2rem;
}
.repeatedFields .repeatedField {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem;
  background: steelblue;
  color: #fff;
  padding: 0.25rem 0.75rem 0.3rem;
  border-radius: 1rem;
}
.repeatedFields .repeatedField .delete {
  margin-left: 0.25rem;
  color: #fff;
}
.repeatedFields button.floatingAddButton {
  margin-left: 1rem;
}

.compositionTemplateProperties .properties .compositionLayers {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.compositionTemplateProperties .compositionLayers .compositionLayer {
  box-shadow: 0 2px 4px #ccc;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 2px;
  padding: 0.5rem 1rem 0.6rem;
  margin: 0.25rem 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s ease-in-out;
}
.compositionTemplateProperties .compositionLayers .compositionLayer:hover {
  background: #eee;
}

.compositionTemplateProperties .compositionLayers .compositionLayer .column {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.compositionTemplateProperties .compositionLayers .compositionLayer .label {
  width: 100%;
  cursor: grab;
}
.compositionTemplateProperties .compositionLayers .compositionLayer.grabbing .layer {
  cursor: grabbing;
}
.compositionTemplateProperties .compositionLayers .compositionLayer i.icon {
  margin-right: 1rem;
}
.compositionTemplateProperties .compositionLayers .compositionLayerPlaceholder {
  height: 2rem;
  width: 100%;
  border: 1px dashed #ccc;
  background: #eee;
}