.sizeConfiguration {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.sizeConfiguration .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.sizeConfiguration input {
  max-width: 50px;
}
.sizeConfiguration button.saveSizeConfig {
  max-width: 75px;
  font-size: 1rem;
  height: 1.75rem;
  background: teal;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.sizeConfiguration button.saveSizeConfig:hover {
  background: rgb(0, 175, 175);
}