#templateConfigurationSidebar {
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  top: 40px;
}
#templateConfigurationSidebar .toggleButtonWrapper {
  top: 50%;
  background: teal;
  opacity: 1;
}
#templateConfigurationSidebar .sidebarContainer {
  overflow-y: auto;
  max-height: 88vh;
  max-width: 100%;
  padding: 1rem 0.75rem;
}
#templateConfigurationSidebar h2 {
  font-size: 15px;
}

textarea#templateConfigurationSidebarVegaPreview {
  width: 95%;
  min-height: 350px;
}