#templateConfigurationSidebar {
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  top: 50px;
  z-index: 100;
}
#templateConfigurationSidebar .toggleButtonWrapper {
  top: 10%;
  background: teal;
  opacity: 1;
}
#templateConfigurationSidebar .sidebarContainer {
  overflow-y: auto;
  max-height: 88vh;
  max-width: 100%;
  padding: 1rem 0.75rem;
}

#templateConfigurationSidebar .sidebarContainer .datasetSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#templateConfigurationSidebar .datasetSection .dataset {
  margin-left: 2rem;
  color: steelblue;
  background: transparent;
  border: 1px solid steelblue;
  padding: 0.25rem 0.5rem 0.2rem;
  border-radius: 1rem;
}
#templateConfigurationSidebar .datasetSection.unbound .dataset {
  border-style: dashed;
  color: steelblue;
  background: #fff;
}

#templateConfigurationSidebar h2 {
  font-size: 15px;
}

#templateConfigurationSidebar .previewContainer {
  border: 1px solid #ccc;
  margin: 2rem 0;
  padding: 1rem;
  overflow: auto;
}

#templateConfigurationSidebar .vegaLiteContainer button {
  color: teal;
  background: transparent;
  border: none;
  cursor: pointer;
}
#templateConfigurationSidebar .vegaLiteContainer button:hover {
  text-decoration: underline
}
textarea#templateConfigurationSidebarVegaPreview {
  width: 95%;
  min-height: 350px;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  resize: none;
}
textarea#templateConfigurationSidebarVegaPreview.hidden {
  display: none;
}