#templateConfigurationSidebar {
  background: #fff;
  box-shadow: 0 2px 4px #ccc;
  top: 40px;
  z-index: 100;
}
#templateConfigurationSidebar .toggleButtonWrapper {
  top: 50%;
  background: teal;
  opacity: 1;
}
#templateConfigurationSidebar .sidebarContainer {
  overflow-y: auto;
  max-height: 88vh;
  max-width: 100%;
  padding: 1rem 0.75rem;
}
#templateConfigurationSidebar h2 {
  font-size: 15px;
}

#templateConfigurationSidebar .vegaLiteContainer button {
  color: teal;
  background: transparent;
  border: none;
  cursor: pointer;
}
#templateConfigurationSidebar .vegaLiteContainer button:hover {
  text-decoration: underline
}
textarea#templateConfigurationSidebarVegaPreview {
  width: 95%;
  min-height: 350px;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  resize: none;
}
textarea#templateConfigurationSidebarVegaPreview.hidden {
  display: none;
}