#reusableBlocks {
  position: absolute;
  left: 0;
  top: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px #ccc;
  transition: max-width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#reusableBlocks.minimized {
  max-width: 0;
}

#reusableBlocksToggle {
  position: absolute;
  right: -1.25rem;
  top: 30px;
  border: none;
  width: 1.25rem;
  height: 2.5rem;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  background: teal;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#reusableBlocksToggle button {
  line-height: 2.5rem;
  transform: rotateZ(-90deg);
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
}
#reusableBlocks.minimized #reusableBlocksToggle button {
  transform: rotateZ(90deg);
}