#scaleSidebar {
  min-height: 100%;
  position: relative;
  flex-grow: 0;
}
#scaleSidebarHeader,
#scaleSidebarBody {
  margin: 0;
  padding: 0.5rem;
}

#scaleSidebarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#scaleSidebarHeader h2 {
  font-family: 'Roboto Condensed';
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#scaleSidebarHeader .hidden {
  display: none;
}
#scaleSidebarHeader .editButton {
  display: none;
  color: #888;
}
#scaleSidebarHeader:hover .editButton {
  display: block;
}
#scaleSidebarHeader input {
  font-size: 20px;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#scaleSidebarBody ul {
  margin: 0;
  padding: 0;
}
#scaleSidebarBody h2 {
  font-family: 'Roboto Condensed';
  font-size: 18px;
}
#scaleSidebarBody h3 {
  font-size: 15px;
}

#scaleSidebarBody .scaleProperty {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

#selectedScaleDomain {
  display: flex;
  flex-direction: column;
}
#selectedScaleDomainFields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#selectedScaleDomainFields .fieldWrapper {
  opacity: 0.5;
}
#selectedScaleDomainFields .fieldWrapper.active {
  opacity: 1;
}
#selectedScaleDomainFields .field {
  font-size: 1rem;
  height: 1rem;
  padding: 0.15rem 0.25rem;
}

#selectedScaleRange {
  margin: 1rem 0;
}
#selectedScaleRangeOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#selectedScaleRangeOptions .radioGroup {
  margin: 0.5rem;
  border-bottom: 2px solid transparent;
}
#selectedScaleRangeOptions .radioGroup input[type=radio] {
  display: none;
}
#selectedScaleRangeOptions .radioGroup label {
  color: #888;
  transition: border 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#selectedScaleRangeOptions .radioGroup:hover label {
  background: #efefef;
  cursor: pointer;
}
#selectedScaleRangeOptions .radioGroup input:checked + label {
  color: #333;
}

#selectedScaleCustomRange {
  margin: 1rem 0;
}
#selectedScaleCustomRangeToggle {
  color: #888;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 0.15rem 0.25rem;
  margin-left: 0.75rem;
  cursor: pointer;
}
#selectedScaleCustomRangeToggle:hover {
  color: #333;
}
#selectedScaleCustomRangeInput {
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #888;
  margin: 0 0.5rem;
  padding: 0.15rem 0.25rem;
}
#selectedScaleCustomRangeInput:focus {
  box-shadow: 0 2px 4px #ccc;
  color: #333;
}

#selectedScaleType .iconRadioButtonGroup {
  justify-content: flex-start;
  flex-wrap: wrap;
}
#selectedScaleType .iconRadioButton .icon {
  font-size: 14px;
}

#selectedScaleBooleanProperties {
  margin: 1rem 0;
}