#signalsSidebar {
  min-height: 100%;
  position: relative;
}
#signalsSidebar button {
  top: 5px;
}

#signalsSidebarHeader,
#signalsSidebarBody {
  padding: 0.5rem;
}

#signalsSidebarHeader {
  margin: 0;
}

#signalsSidebarPropertyList {
  padding: 0;
  margin: 0;
}
#signalsSidebarPropertyList li {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#signalsSidebarPropertyList .hidden {
  display: none;
}
#signalsSidebarPropertyList li .key {
  font-weight: bold;
}