button.caret {
  background: transparent;
  border: none;
  font-size: inherit;
  transition: transform 0.4s;
  padding: 0;
  margin: 0 1.5rem 0 1rem;
  vertical-align: center;
  cursor: pointer;
  line-height: inherit;
}
button.caret:focus {
  border: none;
  outline: 0;
}
button.caret.up {
  transform: rotate(0deg);
}
button.caret.down {
  transform: rotate(180deg);
}