#dataFlowComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex 0.4s;
}
#dataFlowBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button#addNewDataset {
  position: absolute;
  top: 90%;
  left: 5rem;
  background: steelblue;
}